{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <!-- Favicons -->
  <link href="{% static 'post/img/favicon.png' %}" rel="icon">
  <link href="{% static 'post/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'post/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'post/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'post/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'post/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'post/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'post/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'post/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'post/css/style.css' %}" rel="stylesheet"> 
  <link href="{% static 'post/css/rtl.css' %}" rel="stylesheet"> 
</head>

<body id="body"> 

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
           <h1><a href="index.html" id="body" class="scrollto"><span><i class="ion 	
ion-android-notifications"></i> </span>brando</a></h1> 
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li class="menu-has-children"><a href="">Dropdown</a>
            <ul>
              <li><a href="#">Link Item 1</a></li>
              <li><a href="#">Link Item 3</a></li>
              <li><a href="#">Link Item 4</a></li>
              <li><a href="#">Link Item 5</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="clearfix">
<div class="container">

      <div class="hero-banner">
        <img src="img/1.svg" alt="" class="img-fluid">
      </div>

      <div class="hero-content">
        <h2>Business<br><span>Consulting</span></h2>
        <div>
          <a href="#" class="btn-banner">Our Service</a> 
        </div>
      </div>

    </div> 
  </section><!-- #Hero -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
	    <div class="section-header">
          <h2>Welcome</h2>
          
        {% block content %}
        {% endblock %}

      </div>
    </section><!-- #about -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BRANDO</strong>. All Rights Reserved
      </div>
      <div class="credits"> 
        Template by <a href="https://webthemez.com/consulting/">WebThemez</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript  -->
  <script src="{% static 'post/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'post/lib/jquery/jquery-migrate.min.js' %"></script>
  <script src="{% static 'post/lib/bootstrap/js/bootstrap.bundle.min.js' %"></script>
  <script src="{% static 'post/lib/easing/easing.min.js' %"></script>
  <script src="{% static 'post/lib/superfish/hoverIntent.js' %"></script>
  <script src="{% static 'post/lib/superfish/superfish.min.js' %"></script>
  <script src="{% static 'post/lib/wow/wow.min.js' %"></script>
  <script src="{% static 'post/lib/owlcarousel/owl.carousel.min.js' %"></script>
  <script src="{% static 'post/lib/magnific-popup/magnific-popup.min.js' %"></script>
  <script src="{% static 'post/lib/sticky/sticky.js' %"></script> 
  <script src="{% static 'post/contact/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'post/contact/contact_me.js' %}"></script>
  <script src="{% static 'post/js/main.js' %}"></script>

</body>
</html>
