{% extends 'admin-panel/base.html' %}

{% block title %} Delete Article {% endblock %}

{% block name %}Confrim Delete Article{% endblock %}


{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="col-8 text-center">
            <p class="alert alert-secondary text-dark"> Are you sure you want delete "{{object|truncatewords:5}}" from "{{object.author.get_full_name}}" ? </p>
            <input class="btn btn-warning" type="submit" value="Delete">
        </div>
    </form>

{% endblock %}