{% extends 'admin-panel/base.html' %}
{% load crispy_forms_tags %}

{% block name %}Profile{% endblock %}

{% block content %}
<div class="col-md-12">
    <!-- general form elements -->
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">Your Profile</h3>
        </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{form.username|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.email|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.first_name|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.last_name|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.is_author|as_crispy_field}}
                </div>
            </div>
            <br>
            <button style="text-align: center;" class="btn btn-success">Change Profile </button>
            <hr>
        </form>
    </div>
</div>
{% endblock %}